*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
.nav-bar{
	width: 100%;
	position: fixed;
	height: 60px;
	color: white;
	padding: 1px;
	background-color: #fff;
	z-index: 1;
	/*position: relative;*/
	animation-name: animation1;
	animation-duration: 20s;
	animation-iteration-count:20;
	animation-delay: ;
	/*animation-direction:alternate;
	animation-fill-mode: forwards ;*/


}
@keyframes animation1{
	0%{background-color: green;}
	25%{background-color: red; }
	50%{background-color: darkkhaki; }
	75%{background-color: seagreen;} 
	100%{background-color: purple;}
}
.nav-bar ul{
	float: right;
   margin-right:90px;
   color: white;


}
.nav-bar li{
	float: left;
	margin-left: 20px;
    margin-top: -16px;

}
.nav-bar h2{
	margin-left: 30px;
    margin-top: 10px;
}
.image{

	width:100%;
	height: 570px;
	background-image: url("bg2.jpg");
	background-size: 100% 100%;
	padding: 1px;
	position: relative;
	animation-name: ani-11;
	animation-duration: 10s;
	animation-iteration-count:infinite;
}
@keyframes ani-11{
	from{background-image: url("bg2.jpg");
	background-size: 100% 100%;}
	to{background-image: url("bg1.jpg");
	background-size: 100% 100%; }
	
}
.image h6{
	color: white;
	margin-left: 220px;
	font-size: 100px;
	margin-top: 110px;
}
.image h4{
	margin-left: 230px;
	color: white;
	font-size: 15px;
	padding: 1px;
	
}
.md{
	width: 90%;
	height: 150px;
	background-color: gold;
	background-color:rgba(0,0,0,.4);
	margin-top: 30px;
	position: relative;
	padding: 1px;

}
.d1{
	
	width: 200px;
	height: 120px;
	position: absolute;
	
	top:13px;
	right:10px;
	font-size: 20px;
}
.d1:hover{
	/*background-color: gold;*/
   background-color:rgba(0,0,0,.7);
   transform: scale(1.1);
	transition-duration: 3s;
	border-radius: 5px;
	cursor: pointer;
}
.d1 p{
	color: white;
	text-align: center;
	margin-top: 20px;
}
.d1 h5{
	color: orange;
	text-align: center;
}
.d2{
	width: 180px;
	height: 100px;
	position: absolute;
	background-color: white;
	top:25px;
    margin-left: 800px;
	font-size: 20px;
	text-align: center;
}
.d2:hover{
	background-color: orange;
	 transform: scale(1.1);
	transition-duration: 3s;
	border-radius: 5px;
	cursor: pointer;
}
.d2 p{
	margin-top: 10px;
}
.d2 h5{
	margin-top: -10px;
}
.d3{
	width: 180px;
	height: 100px;
	position: absolute;
	background-color: white;
	top:25px;
    margin-left: 600px;
	font-size: 20px;
	text-align: center;
}
.d3:hover{
	background-color: orange;
	 transform: scale(1.1);
	transition-duration: 3s;
	border-radius: 5px;
	cursor: pointer;
}
.d3 p{
	margin-top: 10px;
}
.d3 h5{
	margin-top: -10px;
}

.d4{
	width: 180px;
	height: 100px;
	position: absolute;
	background-color: white;
	top:25px;
    margin-left: 400px;
	font-size: 20px;
	text-align: center;
}
.d4:hover{
	background-color: orange;
	 transform: scale(1.1);
	transition-duration: 3s;
	border-radius: 5px;
	cursor: pointer;
}
.d4 p{
	margin-top: 10px;
}
.d4 h5{
	margin-top: -10px;
}

.d5{
	width: 180px;
	height: 100px;
	position: absolute;
	background-color: white;
	top:25px;
    margin-left: 200px;
	font-size: 20px;
	text-align: center;
	border:none;
}
.d5:hover{
	background-color: orange;
	transform: scale(1.1);
	transition-duration: 3s;
	color: orangered;
	border-radius: 5px;
	cursor: pointer;
}
.d5 p{
	margin-top: 10px;
}
.d5 h5{
	margin-top: -25px;
}

.img-1 img{
	width: 200px;
	height: 200px;
	border:none;
	margin-left: 20%;
}
.img-1 img:nth-child(2){
	margin-left: -5px;
}
.img-1 img:nth-child(3){
	margin-left: -4px;
}
.img-1 img:nth-child(4){
	margin-left: -5px;
}
.img-1 img:hover{
	transform: scale(1.1);
	transition-duration: 2s;
	cursor: pointer;
}
.p1 li{
	
	float: left;
	position: relative;
	color:white;
	left: 23%;
	top:-35px;

}
.p1 li:nth-child(1){
	left:300px;
}
.p1 li:nth-child(2){
	left:400px;
}
.p1 li:nth-child(3){
	left:490px;
}
.p1 li:nth-child(4){
	left:650px;
}
.hero{
	position: relative;
	left:px;
	top:220px;
	color: gold;
	border:none;
	width: 100%;
	height: 250px;
}
.hero-text h1{
	color: black;
	text-align: center;
}

.hero-text h5{
	color: orange;
	text-align: center;
}






.ns{
	width: 200px;
	height: 150px;
	border:none;
	margin-top: 30px;
	margin-left: -180px;
	display: inline-block;
	background-color: lightgray;
}
.ns img{
	width: 170px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}
.ns h3{
	text-align: center;
	color:white;
}


/*
.ns-1{
	width: 200px;
	height: 150px;
	border:none;
	margin-top: 30px;
	margin-left: px;
	display: inline-block;
	background-color: lightgray;
}
.ns-1 img{
	width: 170px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}
.ns-1 h3{
	text-align: center;
	color:white;
}*/

.ns-2{
	width: 200px;
	height: 150px;
	border:none;
	margin-top: 30px;
	margin-left: px;
	display: inline-block;
	background-color: black;
}
.ns-2 img{
	width: 170px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}
.ns-2 h3{
	text-align: center;
	color:white;
}



.ns-3{
	width: 200px;
	height: 150px;
	border:none;
	margin-top: 30px;
	margin-left: px;
	display: inline-block;
	background-color: lightgray;
}
.ns-3 img{
	width: 170px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}
.ns-3 h3{
	text-align: center;
	color:white;
}



.ns-4{
	width: 200px;
	height: 150px;
	border:none;
	margin-top: 30px;
	margin-left: px;
	display: inline-block;
	background-color: lightgray;
}
.ns-4 img{
	width: 170px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}
.ns-4 h3{
	text-align: center;
	color:white;
}



.ns-5{
	width: 200px;
	height: 150px;
	border:none;
	margin-top: 30px;
	margin-left: px;
	display: inline-block;
	background-color: lightgray;
}
.ns-5 img{
	width: 170px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}
.ns-5 h3{
	text-align: center;
	color:white;
}

.ndd-1{
	width: 100%;
	height: 200px;
	background-color: lightgray;
	margin-top: 270px;
	padding: 1px;
}
.ndd-1 h4{
	text-align: center;
	color: orange;
	margin-top: 80px;
	padding: 1px;
}
 .ndd-1 h1{
	text-align: center;

}












.img-3 img{
	width: 250px;
	height: 250px;
	margin-top: -2px;
	margin-left: 110px;
	padding: 1px;
}
.img-3 img:nth-child(1){
	width: 494px;
    
}
.img-3 img:nth-child(2){
	margin-left: -6px;
	
}
.img-3 img:nth-child(3){
	margin-left: -7px;
	
}
.img-3 img:nth-child(4){
	margin-left: 109px;
	margin-top: -6px;
}
.img-3 img:nth-child(5){
	margin-left: -7px;
	margin-top: -6px;
}
.img-3 img:nth-child(6){
	margin-left: -7px;
	margin-top: -6px;
}
.img-3 img:nth-child(7){
	margin-left: -6px;
	margin-top: -6px;
}
.img-3 img:nth-child(8){
	margin-left: 110px;
	margin-top: -7px;
}
.img-3 img:nth-child(9){
	margin-left: -6px;
	margin-top: -7px;
}

.img-3 img:nth-child(10){
	margin-left: -7px;
	margin-top: -8px;
}
.img-3 img:nth-child(11){
	margin-left: -6px;
	margin-top: -8px;
}

.test{
	text-align: center;
	width: 100%;
	height: 500px;
	background-color: lightgray;
	padding: 1px;
}


.test h3{
	position:relative;
    animation-name: ani2;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
	color:orange;
	opacity: 0;
	margin-top: 50px;
}
@keyframes ani2{
from{top:250px;}
to{top: 0px;opacity: 1;}
}

.test h1{
	position:relative;
    animation-name: ani3;
	animation-duration: 9s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
	color:;
	opacity: 0;
	margin-top: 20px;
}
@keyframes ani3{
from{top:300px;}
to{top: 0px;opacity: 1;}
}






.img-4 img{
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 50px;
	padding: 1px;
	position:relative;
    animation-name: ani4;
	animation-duration: 11s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
	opacity: 0;

}
@keyframes ani4{
from{top:350px;}
to{top: 0px;opacity: 1;}
}
.img-4 p{
	position:relative;
    animation-name: ani7;
	animation-duration: 13s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
	opacity: 0;
}
@keyframes ani7{
from{top:450px;}
to{top: 0px;opacity: 1;}
}
.img-4 h2{
	margin-top: 20px;
	position:relative;
    animation-name: ani5;
	animation-duration: 15s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
	opacity: 0;
}
@keyframes ani5{
from{top:550px;}
to{top: 0px;opacity: 1;}
}
.img-4 h4{
	margin-top: 15px;
	position:relative;
    animation-name: ani6;
	animation-duration: 17s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
	opacity: 0;
}
@keyframes ani6{
from{top:650px;}
to{top: 0px;opacity: 1;}
}










.t1{
	position: relative;
	animation-name: ani-222;
	animation-duration: 18s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-222{
from{top:750px;}
to{top: 0px;opacity: 1;}
}
.t1 h4{
text-align: center;
color: orange;
margin-top: 30px;
}

.t1 h1{
text-align: center;
margin-top: 40px;
}
















.new-d{
	width: 100%;
	height: 800px;
	background-image: url(ds1.jpg);

}

.nd{
	width: 550px;
	height: 200px;
	margin-left: 80px;
	float: left;
	text-align: center;
	position: relative;
	top: 80px;
	background-color: white;
	animation-name: ani-22;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-22{
from{top:650px;}
to{top: 0px;opacity: 1;}
}
.nd img{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    float: right;
    margin-top: 20px;
}
.nd h1{
	float: left;
	color: orange;
	margin-top: 43px;
    margin-left: 50px;
}
.nd h3{
	margin-top: 50px;
}
.nd h5{
	text-align: center;
	margin-top: 50px;
}


.nd-1{
	width: 550px;
	height: 200px;
	margin-left: 150px;
	float: left;
	text-align: center;
	position: relative;
	background-color: white;
	animation-name: ani-22;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-22{
from{top:650px;}
to{top: 0px;opacity: 1;}
}
.nd-1 img{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    float: left;
    margin-top: 20px;
}
.nd-1 h1{
	float: right;
	color: orange;
	margin-top: 43px;
    margin-left: 50px;
}
.nd-1 h3{
	margin-top: 50px;
}
.nd-1 h5{
	text-align: center;
	margin-top: 50px;
}


.nd-2{
	width: 550px;
	height: 200px;
	margin-left: 80px;
	float: right;
	text-align: center;
	position: relative;
	/*top: 60px;*/
	background-color: white;
	animation-name: ani-22;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-22{
from{top:650px;}
to{top: 0px;opacity: 1;}
}
.nd-2 img{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    float: left;
    margin-top: 20px;
}
.nd-2 h1{
	float: right;
	color: orange;
	margin-top: 43px;
    margin-left: 50px;
}
.nd-2 h3{
	margin-top: 50px;
}
.nd-2 h5{
	text-align: center;
	margin-top: 50px;
}

.nd-3{
	width: 550px;
	height: 200px;
	margin-left: 80px;
	float: left;
	text-align: center;
	position: relative;
	/*top: 60px;*/
	background-color: white;
	animation-name: ani-22;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-22{
from{top:650px;}
to{top: 0px;opacity: 1;}
}
.nd-3 img{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    float: right;
    margin-top: 20px;
}
.nd-3 h1{
	float: left;
	color: orange;
	margin-top: 43px;
    margin-left: 50px;
}
.nd-3 h3{
	margin-top: 50px;
}
.nd-3 h5{
	text-align: center;
	margin-top: 50px;
}



.nd-4{
	width: 550px;
	height: 200px;
	margin-left: 80px;
	float: right;
	text-align: center;
	position: relative;
	/*top: 60px;*/
	background-color: white;
	animation-name: ani-22;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-22{
from{top:650px;}
to{top: 0px;opacity: 1;}
}
.nd-4 img{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    float: left;
    margin-top: 20px;
}
.nd-4 h1{
	float: right;
	color: orange;
	margin-top: 43px;
    margin-left: 50px;
}
.nd-4 h3{
	margin-top: 50px;
}
.nd-4 h5{
	text-align: center;
	margin-top: 50px;
}

.nd-5{
	width: 550px;
	height: 200px;
	margin-right: 80px;
	float: right;
	text-align: center;
	position: relative;
	/*top: 60px;*/
	background-color: white;
	animation-name: ani-22;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-22{
from{top:650px;}
to{top: 0px;opacity: 1;}
}
.nd-5 img{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    float: right;
    margin-top: 20px;
}
.nd-5 h1{
	float: left;
	color: orange;
	margin-top: 43px;
    margin-left: 50px;
}
.nd-5 h3{
	margin-top: 50px;
}
.nd-5 h5{
	text-align: center;
	margin-top: 50px;
}


.nd-6{
	width: 550px;
	height: 200px;
	margin-left: 80px;
	float: right;
	text-align: center;
	position: relative;
	/*top: 60px;*/
	background-color: white;
	animation-name: ani-22;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-22{
from{top:650px;}
to{top: 0px;opacity: 1;}
}
.nd-6 img{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    float: left;
    margin-top: 20px;
}
.nd-6 h1{
	float: right;
	color: orange;
	margin-top: 43px;
    margin-left: 50px;
}
.nd-6 h3{
	margin-top: 50px;
}
.nd-6 h5{
	text-align: center;
	margin-top: 50px;
}

.nd-7{
	width: 550px;
	height: 200px;
	margin-left: 80px;
	float: left;
	text-align: center;
	position: relative;
	/*top: 60px;*/
	background-color: white;
	animation-name: ani-22;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes ani-22{
from{top:650px;}
to{top: 0px;opacity: 1;}
}
.nd-7 img{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    float: right;
    margin-top: 20px;
}
.nd-7 h1{
	float: left;
	color: orange;
	margin-top: 43px;
    margin-left: 50px;
}
.nd-7 h3{
	margin-top: 50px;
}
.nd-7 h5{
	text-align: center;
	margin-top: 50px;
}








.rd{
	width: 100%;
	height: 500px;
	border: none;
	margin-top: 100px;
	animation-name: ani-rd1;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
}
@keyframes ani-rd1{
from{top:850px;}
to{top: 0px;opacity: 1;}
}
.rd h4{
	color: orange;
	text-align: center;
	animation-name: ani-h4;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
}
@keyframes ani-h4{
from{top:250px;}
to{top: 0px;opacity: 1;}
}
.rd h1{
	text-align: center;
	animation-name: ani-hh;
	animation-duration: 20s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
}
@keyframes ani-hh{
from{top:550px;}
to{top: 0px;opacity: 1;}
}
.bm{
	width: 350px;
	height: 330px;
	border:none;
	display: inline-block;
	margin-left: 50px;
	margin-top: 60px;
	animation-name: ani-bm1;
	animation-duration: 23s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
}
@keyframes ani-bm1{
from{top:850px;}
to{top: 0px;opacity: 1;}
}
.bm img{
	width: 345px;
	height: 210px;
}
.bm p{
	text-align: center;
}
.bm h3{
	text-align: center;
}
.bm h4{
	text-align: center;
	margin-top: 20px;
}






























.rd-1{
	width: 100%;
	height: 200px;
	border:none;
	margin-top: 30px;
	
}

.rd-1 h4{
	color: orange;
	text-align: center;
	animation-name: ani-hhh4;
	animation-duration: 37s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
}
@keyframes ani-hhh4{
from{top:1200px;}
to{top: 0px;opacity: 1;}
}
.rd-1 h1{
	text-align: center;
	animation-name: ani-hhh;
	animation-duration: 38s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
}
@keyframes ani-hhh{
from{top:1350px;}
to{top: 0px;opacity: 1;}
}
.bm-1{
	width: 100%;
	height: 550px;
	border:none;
	margin-left: 50px;
	margin-top: 60px;
	animation-name: ani-rd-11;
	animation-duration: 43s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
	
}
@keyframes ani-rd-11{
from{top:1550px;}
to{top: 0px;opacity: 1;}
}
.bm-1 img{
	width: 250px;
	height: 290px;
	margin-left: -6px;
}



.blck{
	width: 1245px;
	height: 500px;
	border:none;
	margin-top: 205px;
	margin-left: 43px;
	background-color: black;
    animation-name: ani-rd-1122;
	animation-duration: 43s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
}
@keyframes ani-rd-1122{
from{top:1550px;}
to{top: 0px;opacity: 1;}
}
.blck-1{
	width: 250px;
	height: 450px;
	border:none;
	display: inline-block;
	color: gray;
}
.blck-1 h1{
	text-align: center;
}
.blck-1 p{
	text-align: center;
	margin-top: 50px;
	font-size: 22px;
	margin-left: 35px;
}









